.gos-mbar {
    width: 100%;
    padding: 0;
    background-color: rgba(26, 26, 26, 0.85);
    backdrop-filter: blur(20px) saturate(125%);
    box-shadow: none !important;
    color: #eeeeee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: var(--menubar-height) !important;
    align-items: center;
    font-size: 0.95rem;
    position: relative;
    z-index: 2000;
    border-bottom: 1px solid #333;
}

.gos-mbar b {
    font-weight: normal;
}

.gos-mbar-left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    height: 100%;
}

.gos-mbar-left>.dropdown,
.gos-mbar-right>.dropdown {
    height: 100%;
}

.gos-mbar-right {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.gos-mseperator {
    padding: 0;
    margin: 0.4em;
}

.gos-mbar-item {
    background-color: transparent;
    color: #eeeeee;
    padding: 0 0.5em;
    cursor: pointer;
    user-select: none;
    outline: none !important;
    border: none !important;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: none !important;
}

.gos-mbar-item:active,
.gos-mbar-item:focus,
.gos-mbar-item:hover {
    border: none;
    border-color: none;
    outline: none;
}

.gos-mbar-item:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
}

.gos-mbar-item:active,
.gos-mbar-item.show {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.gos-mbar-item-highlight {
    color: white;
}
