.dropdown-menu {
    box-shadow: var(--menu-shadow) !important;
    padding: 2px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 0;
    margin: 0 !important;
    top: 100% !important;
    transform: none !important;
}

.dropdown-item {
    padding: 6px 12px;
    font-size: 0.85rem;
    color: #eee;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #3f3f3f;
    color: #fff;
}

.dropdown-item:active {
    background-color: var(--accent-color);
}

.dropdown-menu .dropdown-divider {
    padding: 0;
    margin: 0.1em 0;
}

/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}*/
.modal-dialog {
    box-shadow: var(--shadow-elevation-high) !important;
}

:root {
    --bs-modal-fade-transform: scale(.5);
}