.lde-desktop {
    padding: 1em;
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-size:cover;
    background-position:center;
    background-image: url("../res/wall.png");
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(14, 1fr); 
    grid-template-row: repeat(14, 1fr);
    row-gap: 2em;
    top: 0;
    z-index: -1;
}

.lde-desktop-icon {
    background-color: darkred;
    border-radius: 4px;
    color: var(--bs-white);
    padding: 0.3em;
    width: 2em;
    height: 2em;
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-elevation-medium);
    box-sizing: border-box;
}

.lde-desktop-icon:hover {
    background-color: red;
    box-shadow: var(--shadow-elevation-high);
}

.lde-desktop-icon:active {
    filter: brightness(50%);
}