.lde-desktop {
    padding: 1em;
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    z-index: 10;
    background-color: #000;
}

.lde-wallpaper-layer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.lde-wallpaper-layer.old {
    opacity: 0;
}

.lde-wallpaper-layer.new {
    opacity: 1;
}

.lde-desktop-icon {
    background-color: darkred;
    border-radius: 4px;
    color: var(--bs-white);
    padding: 0.3em;
    width: 2em;
    height: 2em;
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-elevation-medium);
    box-sizing: border-box;
}

.lde-desktop-icon:hover {
    background-color: red;
    box-shadow: var(--shadow-elevation-high);
}

.lde-desktop-icon:active {
    filter: brightness(50%);
}