:root {
    --menubar-height: 2.3em;
    --ease: cubic-bezier(.07,-0.07,0,1.03);
    --blur: blur(5px);

    /* Thanks https://www.joshwcomeau.com/shadow-palette/ */
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        0px 1px 1px hsl(var(--shadow-color) / 0.12),
        0px 1.5px 1.4px -1.8px hsl(var(--shadow-color) / 0.1),
        0.1px 3.6px 3.5px -3.6px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-medium:
        0px 1px 1px hsl(var(--shadow-color) / 0.13),
        0.1px 2.4px 2.3px -1.2px hsl(var(--shadow-color) / 0.11),
        0.1px 6.9px 6.6px -2.4px hsl(var(--shadow-color) / 0.09),
        0.4px 18.1px 17.4px -3.6px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-high:
        0px 1px 1px hsl(var(--shadow-color) / 0.12),
        0.1px 3.3px 3.2px -0.5px hsl(var(--shadow-color) / 0.11),
        0.1px 6.3px 6px -1px hsl(var(--shadow-color) / 0.1),
        0.2px 11.4px 10.9px -1.5px hsl(var(--shadow-color) / 0.09),
        0.4px 20px 19.2px -2.1px hsl(var(--shadow-color) / 0.08),
        0.7px 33.6px 32.3px -2.6px hsl(var(--shadow-color) / 0.07),
        1.1px 53.4px 51.3px -3.1px hsl(var(--shadow-color) / 0.06),
        1.7px 81px 77.8px -3.6px hsl(var(--shadow-color) / 0.05);
}

#app, html, body {
    height: 100%;
    overflow: hidden;
    cursor: url("../res/default.svg"), auto;
}

@keyframes kaboom {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  10% { transform: scale(1.1) rotate(-1deg); }
  20% { transform: scale(1.1) rotate(1deg); }
  30% { transform: scale(1.1) rotate(-1deg); }
  40% { transform: scale(1.1) rotate(1deg); }
  60% {
    opacity: 0.9;
    filter: brightness(2) blur(2px);
  }
  100% {
    transform: scale(100);
    opacity: 0;
    filter: brightness(5) blur(20px);
  }
}

.kaboom {
  white-space: nowrap;
  transform: translateX(-50%);
  transform-origin: center center;
  animation: kaboom 0.6s ease-out forwards;
  pointer-events: none;
  user-select: none;
}

.kaboom-ticking {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  50% {
    transform: scale(1.01);
    filter: brightness(120%);
  }
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
}