.lde-win-header {
	height: 1em;
	background-color: #2F2F2F;
}

.lde-win-header:hover {

}

.lde-win-footer {
	height: 3em;
	padding: 0 1em;
	color: var(--bs-secondary);
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
}