.dropdown-menu {
    box-shadow: var(--shadow-elevation-medium) !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.modal-dialog {
    box-shadow: var(--shadow-elevation-high) !important;
}
:root {
    --bs-modal-fade-transform: scale(.5);
}