:root {
    /* Thanks https://www.joshwcomeau.com/shadow-palette/ */
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        0px 1px 1px hsl(var(--shadow-color) / 0.12),
        0px 1.5px 1.4px -1.8px hsl(var(--shadow-color) / 0.1),
        0.1px 3.6px 3.5px -3.6px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-medium:
        0px 1px 1px hsl(var(--shadow-color) / 0.13),
        0.1px 2.4px 2.3px -1.2px hsl(var(--shadow-color) / 0.11),
        0.1px 6.9px 6.6px -2.4px hsl(var(--shadow-color) / 0.09),
        0.4px 18.1px 17.4px -3.6px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-high:
        0px 1px 1px hsl(var(--shadow-color) / 0.12),
        0.1px 3.3px 3.2px -0.5px hsl(var(--shadow-color) / 0.11),
        0.1px 6.3px 6px -1px hsl(var(--shadow-color) / 0.1),
        0.2px 11.4px 10.9px -1.5px hsl(var(--shadow-color) / 0.09),
        0.4px 20px 19.2px -2.1px hsl(var(--shadow-color) / 0.08),
        0.7px 33.6px 32.3px -2.6px hsl(var(--shadow-color) / 0.07),
        1.1px 53.4px 51.3px -3.1px hsl(var(--shadow-color) / 0.06),
        1.7px 81px 77.8px -3.6px hsl(var(--shadow-color) / 0.05);
}
